@model Test.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Province)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Province)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CurrentDebt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CurrentDebt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BonusPoint)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BonusPoint)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TaxCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TaxCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ManagedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ManagedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Group)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Group)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
